:root {
	/* Base colors */
	--color-alpha: #1f1f4d;
	--color-beta: #c8d3ff;
	--color-gamma: #5255b2;
	--color-delta: #ffe985;

	--color-white: #ffffff;

	/* Dark mode icons */
	--color-sun: var(--color-delta);
	--color-moon: var(--color-white);

	/* Back and front colors */
	--global-color-back: var(--color-beta);
	--global-color-front: var(--color-alpha);
}

/* Changes the back and front colors if the html element has this class */
.dark-mode {
	--global-color-back: var(--color-alpha);
	--global-color-front: var(--color-white);
}


html {
	background-color: var(--global-color-back);
	color: var(--global-color-front);
	font-weight: 500;
}

/* 
	Text selection
*/

::-moz-selection {
	color: var(--global-color-back);
	background-color: var(--global-color-front);
	text-shadow: none;
}

::selection {
	color: var(--global-color-back);
	background-color: var(--global-color-front);
	text-shadow: none;
}

/* Grid definitions */

.o-grid-container {
	display: grid;
	grid-template-rows: auto auto auto;
}

.o-grid-item {
	
}

/* 
	Component: App

	The <main> element
*/

.c-app {
	max-width: 22rem;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}

/* 
	Component: Header

	The header with title, logo and dark mode toggle
*/

.c-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	font-size: 1.5rem;

	border-bottom: 2px solid var(--global-color-front);
}

/* 
	Component: Logo

	The sattelite icon in the header
*/

.c-logo {
	display: flex;
	align-items: center;
}

.c-logo__svg {
	height: 36px;
	width: 36px;

	margin-right: 16px;
}

.c-logo__title {
	display: block;
}

/* 
	Component: Dark mode toggle

	The button to toggle dark mode
*/


.c-darkmode {
	position: relative;
}

.c-darkmode__buttons {
	position: absolute;
	right: 0;
	top: 0;
	height: 80px; 
}

.c-darkmode__fake-input {
	position: absolute;
	/* display: none; */
	height: 32px;
	width: 32px;
}

.c-darkmode__icon {
	height: 32px;
	width: 32px;
}

.c-darkmode__moon {
	fill: var(--color-moon);
	transform: rotate(180deg);
}

.c-darkmode__sun {
	background-color: var(--color-sun);
	border-radius: 50%;
}

/*  */

.c-globe {
}

/* 
	Component: Velocity

	Shows the current velocity of the ISS.
*/

.c-velocity {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.c-velocity__icon {
	animation-name: bounce;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

/* the animation that makes the sattelite bounce */

@keyframes bounce {
	0%,
	100% {
		transform: translateY(6px) rotate(45deg);
	}
	50% {
		transform: translateY(-6px) rotate(45deg);
	}
}

.c-velocity__text {
	font-size: 1.5rem;
}

/* 
	Component: Height

	Shows the current height of the ISS.
*/

.c-height {
	font-size: 1.3rem;
	position: absolute;
	bottom: 0;
	margin-bottom: 16px;
}

.c-height__icon {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.c-height__middle {
	display: flex;
	/* TODO: better spacing method */
	justify-content: space-evenly;
	align-items: center;

	width: 100%;
	margin: 0 auto;
}

.c-arrow {
	font-size: 2.4rem;
	transform: rotate(90deg);
}

.c-height__curve {
	
	display: block;
	margin: 0;
	width: 100%;
	fill: none;
	stroke: var(--global-color-front);
	stroke-width: 4px;
}

/* 
	
	Utilities

*/

.u-icon--sm {
	width: 36px;
	height: 36px;
}

.u-icon--md {
	width: 80px;
	height: 80px;
}

.u-icon--lg {
	width: 120px;
	height: 120px;
}
