:root {
	/* Base colors */
	--color-alpha: #28307c;
	--color-beta: #98b6fd;
	--color-gamma: #5255B2;
	--color-delta: #ffe985;

	--color-white: #ffffff;

	/* Dark mode icons */
	--color-sun: var(--color-delta);
	--color-moon: var(--color-white);

	/* Back and front colors */
	--global-color-back: var(--color-beta);
	--global-color-front: var(--color-alpha);

	/* Sizes */
	--global-header-height: 3.5rem; /* 3.5 * 16px = 56px */
	--global-darkmode-icon-size: 2rem;
}

/* Changes the back and front colors if the html element has this class */
.dark-mode {
	--global-color-back: var(--color-alpha);
	--global-color-front: var(--color-white);
}


html {
	background-color: var(--global-color-back);
	color: var(--global-color-front);
	font-weight: 500;
}

/* 
	Text selection
*/

::-moz-selection {
	color: var(--global-color-back);
	background-color: var(--global-color-front);
	text-shadow: none;
}

::selection {
	color: var(--global-color-back);
	background-color: var(--global-color-front);
	text-shadow: none;
}


/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 
	Component: App

	The <main> element
*/

.c-app {
	max-width: 22rem;
	margin: 0 auto;
	height: 100vh;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* 
	Component: Header

	The header with title, logo and dark mode toggle
*/

.c-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--global-header-height);
	font-size: 1.5rem;

	border-bottom: 2px solid var(--global-color-front);
}

@media screen and (max-width: 22rem){
	.c-header {
		font-size: 1.2rem;
	}
}

/* 
	Component: Logo

	The sattelite icon in the header
*/

.c-logo {
	display: flex;
	align-items: center;
}

.c-logo__svg {
	height: 36px;
	width: 36px;

	margin-right: 16px;
}

.c-logo__title {
	display: block;
}

/* 
	Component: Dark mode toggle

	The button to toggle dark mode
*/


.c-darkmode {
	
}

.c-darkmode__input {
	top: 0;
	right: 0;
	transition: all 2s ease-out;
}

.c-darkmode__fake-input {
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute;
	right: 0;
	/* position */
	top: calc((var(--global-header-height) / 2) - 1rem);

	transform: rotate(0deg);
	transition: transform 0.4s ease-out;
}

.c-darkmode__input:checked + .c-darkmode__fake-input {
	transform: rotate(180deg);
}

/* transition for opacity */
.c-darkmode__icon {
	transition: opacity 0.4s cubic-bezier(0, 50, 100);
}

/* When in lightmode: opacity of sun element == 0 */
.c-darkmode__input + .c-darkmode__fake-input .c-darkmode__sun {
	opacity: 0;
}

/* When in darkmode: opacity of moon element == 1 */
.c-darkmode__input + .c-darkmode__fake-input .c-darkmode__moon {
	opacity: 1;
}

/* When in darkmode: opacity of moon element == 0 */
.c-darkmode__input:checked + .c-darkmode__fake-input .c-darkmode__moon {
	opacity: 0;
}

/* When in darkmode: opacity of sun element == 1 */
.c-darkmode__input:checked + .c-darkmode__fake-input .c-darkmode__sun {
	opacity: 1;
}


.c-darkmode__icon {
	height: var(--global-darkmode-icon-size);
	width: var(--global-darkmode-icon-size);
}

.c-darkmode__moon {
	fill: var(--color-moon);
	transform: rotate(180deg);
}

.c-darkmode__sun {
	background-color: var(--color-sun);
	border-radius: 50%;
}

/* The canvas element with earth and ISS */
.c-globe {
}

/* 
	Component: Velocity

	Shows the current velocity of the ISS.
*/

.c-velocity {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.c-velocity__icon {
	animation-name: bounce;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

/* the animation that makes the sattelite bounce */

@keyframes bounce {
	0%,
	100% {
		transform: translateY(6px) rotate(45deg);
	}
	50% {
		transform: translateY(-6px) rotate(45deg);
	}
}

.c-velocity__text {
	font-size: 1.5rem;
}

/* 
	Component: Height

	Shows the current height of the ISS.
*/

.c-height {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.c-height__icon {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.c-height__middle {
	display: flex;
	/* TODO: better spacing method */
	justify-content: space-evenly;
	align-items: center;

	width: 100%;
	margin: 0 auto;
}

.c-arrow {
	font-size: 2.4rem;
	transform: rotate(90deg);
}

.c-height__curve {
	display: block;
	margin: 0;
	width: 100%;
	fill: none;
	stroke: var(--global-color-front);
	stroke-width: 4px;
}

/* 
	
	Utilities

*/

.u-icon--sm {
	width: 2rem;
	height: 2rem;
}

.u-icon--md {
	width: 5rem;
	height: 5rem;
}

.u-icon--lg {
	width: 7.5rem;
	height: 7.5rem;
}
