:root {
	/* Base colors */
	--color-alpha: #28307c;
	--color-beta: #98b6fd;
	--color-gamma: #5255B2;
	--color-delta: #ffe985;

	--color-white: #ffffff;

	/* Whitespace */
	--global-baseline: 4px;
	--global-whitespace-xs: calc(var(--global-baseline) * 2);
}

* {
	box-sizing: border-box;
}

html {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}


body {
	margin: 0;
    padding: 0;
}